
/* Navbar Logo */
.navbar-brand img {
    width: 100px;
}

/* Search Bar */
.search-bar {
    width: 300px;
}

.btn-post {
    background-color: #002f34;
    color: white;
}

.btn-post:hover {
    background-color: #00494d;
    color: white;
}

/* Items List */
.items > li {
    list-style-type: none;
    margin: 15px;
}

.items {
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

/* Categories Images */
.img-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.img-first > img {
    height: 88px;
    width: 88px;
}

/* Items Text */
.items-2,
.items-3 {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.items-2 > li,
.items-3 > li {
    list-style-type: none;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .img-first > img {
        height: 70px;
        width: 70px;
    }

    .items-2 > li,
    .items-3 > li {
        margin: 10px 0;
    }
}


